 <!-- Navbar Section -->
 <header id="navbar" data-aos="fade-in" data-aos-duration="2000">
    <nav class="navbar-expand-lg sticky-navbar">
        <div class="navbar-container navbar">
            <div class="logo">
                <a href="/"><span>Ocean Breeze</span></a>
            </div>
            <!-- Navbar Menu -->
            <nav class="navbar-menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/booking">Booking</a></li>
                </ul>
            </nav>
            <!-- Hamburger Toggle Button -->
            <button class="hamburger" id="hamburger-toggle" aria-label="Open Menu">&#9776;</button>
        </div>
    </nav>
</header>

<!-- Sidebar -->
<div id="sidebar" class="sidebar">
    <div class="sidebar-content">
        <h3 class="text-white">Ocean Breeze</h3>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/booking">Booking</a></li>
        </ul>
    </div>
    <!-- Close button inside sidebar -->
    <span id="sidebar-close">&times;</span>
</div>