<!DOCTYPE html>
<html>
<head>
    <title><%= subject %></title>
</head>
<body>
    <h2>Dear <%= name %>,</h2>
    <p><%= message %></p>
    <p>Best regards,<br> The Guesthouse Team</p>
</body>
</html>
