<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home page</h1>
    <a href="/booking">booking</a>
    <a href="/auth/login">login</a>

    <form action="/search-rooms" method="GET">
        <label for="checkInDate">Check-in Date:</label>
        <input type="date" name="checkInDate" required>
    
        <label for="checkOutDate">Check-out Date:</label>
        <input type="date" name="checkOutDate" required>
    
        <button type="submit">Search Rooms</button>
    </form>
    

</body>
</html>