  <!-- Sidebar -->
  <div class="sidebar">
    <h3>Admin Panel</h3>
    <ul class="nav flex-column">
        <li class="nav-item"><a href="/admin/dashboard" class="nav-link text-white">Dashboard</a></li>
        <li class="nav-item"><a href="/admin/manageRooms" class="nav-link text-white">Manage Rooms</a></li>
        <li class="nav-item"><a href="/admin/manage-bookings" class="nav-link text-white">Manage Bookings</a></li>
        <li class="nav-item"><a href="/admin/messages" class="nav-link text-white">Manage Messages</a></li>
        <li class="nav-item"><a href="/admin/send-newsletter" class="nav-link text-white">Send Newsletters</a></li>
        <li class="nav-item"><a href="/admin/send-email" class="nav-link text-white">Send Email</a></li>
        <li class="nav-item"><a href="/auth/logout" class="nav-link text-white">log out</a></li>
    </ul>
</div>